.gradient-custom {
    /* fallback for old browsers */
    background: #2929a7;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(75, 72, 213), rgb(33, 45, 110));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(75, 72, 213), rgb(33, 45, 110))
    }