*{
    text-decoration: none !important;
}


#signupLink {
    color: #007BFF;
    text-decoration: none;
    font-size: 16px;
    margin-right: 15px;
}

#signupLink:hover {
    text-decoration: underline;
}

#userDisplay {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}



.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
.form-label{
    font-size:larger;
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}

}